apiVersion: v1
kind: Service
metadata:
    name: "resourcedetailsservice"
    labels:
        app: "resourcedetailsdeploy"

spec:
    type: LoadBalancer
    ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
    selector:
        app: "resourcedetailsdeploy"